.__editor {
  background: #ffffff;
  border: solid 1px #e0e0e0;
  height: 400px;
  margin-top: 10px;
  overflow: scroll;
  padding: 10px;
}

.__editor:focus {
  outline: none;
}

.__toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
